In [97]:
import pandas as pd

In [ ]:
# Based on the Summary Stats code, we found detailed summary of all the datasets. In this section,
# we will deal with the missing, unknown or redundant variables and clean our dataset!

In [220]:
# application_train - First and Main dataset
application_train = pd.read_csv('application_train.csv')

In [221]:
# Drop columns that cannot be explained
application_train = application_train.drop(columns=['FLAG_MOBIL', 'FLAG_PHONE', 'FLAG_DOCUMENT_2',
                                                        'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
                                                        'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
                                                        'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
                                                        'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
                                                        'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
                                                        'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
                                                        'FLAG_DOCUMENT_21', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'EXT_SOURCE_1',
                                                   'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG',
                                                   'YEARS_BUILD_AVG', 'COMMONAREA_AVG','ELEVATORS_AVG','ENTRANCES_AVG', 'FLOORSMAX_AVG',
                                                   'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
                                                   'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE',
                                                   'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE','ELEVATORS_MODE',
                                                   'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE',
                                                   'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE',  'NONLIVINGAREA_MODE',
                                                   'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI',
                                                   'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI',
                                                   'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
                                                   'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE',
                                                   'EMERGENCYSTATE_MODE', ])

In [222]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,2.0,2.0,2.0,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,2.0,0.0,-617.0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,-1106.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0.0,0.0,0.0,-273.0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0.0,6.0,0.0,-1909.0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0.0,0.0,0.0,-322.0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0.0,0.0,0.0,-787.0,0.0,0.0,0.0,2.0,0.0,1.0

In [223]:
import numpy as np
# Making a new dummy column for all the features with missing data
application_train['application_train_flag_AMT_ANNUITY'] = np.where(application_train['AMT_ANNUITY'].isnull(), 1, 0)
application_train['application_train_flag_AMT_GOODS_PRICE'] = np.where(application_train['AMT_GOODS_PRICE'].isnull(), 1, 0)
application_train['application_train_flag_CNT_FAM_MEMBERS'] = np.where(application_train['CNT_FAM_MEMBERS'].isnull(), 1, 0)
application_train['application_train_flag_AMT_EXT_SOURCE_2'] = np.where(application_train['EXT_SOURCE_2'].isnull(), 1, 0)
application_train['application_train_flag_OBS_30_CNT_SOCIAL_CIRCLE'] = np.where(application_train['OBS_30_CNT_SOCIAL_CIRCLE'].isnull(), 1, 0)
application_train['application_train_flag_DEF_30_CNT_SOCIAL_CIRCLE'] = np.where(application_train['DEF_30_CNT_SOCIAL_CIRCLE'].isnull(), 1, 0)
application_train['application_train_flag_OBS_60_CNT_SOCIAL_CIRCLE'] = np.where(application_train['OBS_60_CNT_SOCIAL_CIRCLE'].isnull(), 1, 0)
application_train['application_train_flag_DEF_60_CNT_SOCIAL_CIRCLE'] = np.where(application_train['DEF_60_CNT_SOCIAL_CIRCLE'].isnull(), 1, 0)
application_train['application_train_flag_DAYS_LAST_PHONE_CHANGE'] = np.where(application_train['DAYS_LAST_PHONE_CHANGE'].isnull(), 1, 0)
application_train['application_train_flag_AMT_REQ_CREDIT_BUREAU_HOUR'] = np.where(application_train['AMT_REQ_CREDIT_BUREAU_HOUR'].isnull(), 1, 0)
application_train['application_train_flag_AMT_REQ_CREDIT_BUREAU_DAY'] = np.where(application_train['AMT_REQ_CREDIT_BUREAU_DAY'].isnull(), 1, 0)
application_train['application_train_flag_AMT_REQ_CREDIT_BUREAU_WEEK'] = np.where(application_train['AMT_REQ_CREDIT_BUREAU_WEEK'].isnull(), 1, 0)
application_train['application_train_flag_AMT_REQ_CREDIT_BUREAU_MON'] = np.where(application_train['AMT_REQ_CREDIT_BUREAU_MON'].isnull(), 1, 0)
application_train['application_train_flag_AMT_REQ_CREDIT_BUREAU_QRT'] = np.where(application_train['AMT_REQ_CREDIT_BUREAU_QRT'].isnull(), 1, 0)
application_train['application_train_flag_AMT_REQ_CREDIT_BUREAU_YEAR'] = np.where(application_train['AMT_REQ_CREDIT_BUREAU_YEAR'].isnull(), 1, 0)
application_train['application_train_flag_NAME_TYPE_SUITE'] = np.where(application_train['NAME_TYPE_SUITE'].isnull(), 1, 0)
application_train['application_train_flag_OCCUPATION_TYPE'] = np.where(application_train['OCCUPATION_TYPE'].isnull(), 1, 0)

In [224]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,application_train_flag_DEF_60_CNT_SOCIAL_CIRCLE,application_train_flag_DAYS_LAST_PHONE_CHANGE,application_train_flag_AMT_REQ_CREDIT_BUREAU_HOUR,application_train_flag_AMT_REQ_CREDIT_BUREAU_DAY,application_train_flag_AMT_REQ_CREDIT_BUREAU_WEEK,application_train_flag_AMT_REQ_CREDIT_BUREAU_MON,application_train_flag_AMT_REQ_CREDIT_BUREAU_QRT,application_train_flag_AMT_REQ_CREDIT_BUREAU_YEAR,application_train_flag_NAME_TYPE_SUITE,application_train_flag_OCCUPATION_TYPE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,1,1,1,1,1,1,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,1,1,1,1,1,1,0,0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,1,1,1,1,1,1,0,1
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,0,0,0,0,0,0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0,0,0,0,0,0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0,0,0,0,0,0

In [225]:
# Deal with missing variables
application_train['AMT_ANNUITY'] = application_train['AMT_ANNUITY'].fillna(application_train['AMT_ANNUITY'].mean())
application_train['AMT_GOODS_PRICE'] = application_train['AMT_GOODS_PRICE'].fillna(application_train['AMT_GOODS_PRICE'].mean())
application_train['CNT_FAM_MEMBERS'] = application_train['CNT_FAM_MEMBERS'].fillna(application_train['CNT_FAM_MEMBERS'].mean())
application_train['EXT_SOURCE_2'] = application_train['EXT_SOURCE_2'].fillna(application_train['EXT_SOURCE_2'].mean())
application_train['OBS_30_CNT_SOCIAL_CIRCLE'] = application_train['OBS_30_CNT_SOCIAL_CIRCLE'].fillna(application_train['OBS_30_CNT_SOCIAL_CIRCLE'].mean())
application_train['DEF_30_CNT_SOCIAL_CIRCLE'] = application_train['DEF_30_CNT_SOCIAL_CIRCLE'].fillna(application_train['DEF_30_CNT_SOCIAL_CIRCLE'].mean())
application_train['OBS_60_CNT_SOCIAL_CIRCLE'] = application_train['OBS_60_CNT_SOCIAL_CIRCLE'].fillna(application_train['OBS_60_CNT_SOCIAL_CIRCLE'].mean())
application_train['DEF_60_CNT_SOCIAL_CIRCLE'] = application_train['DEF_60_CNT_SOCIAL_CIRCLE'].fillna(application_train['DEF_60_CNT_SOCIAL_CIRCLE'].mean())
application_train['DAYS_LAST_PHONE_CHANGE'] = application_train['DAYS_LAST_PHONE_CHANGE'].fillna(application_train['DAYS_LAST_PHONE_CHANGE'].mean())
application_train['AMT_REQ_CREDIT_BUREAU_HOUR'] = application_train['AMT_REQ_CREDIT_BUREAU_HOUR'].fillna(application_train['AMT_REQ_CREDIT_BUREAU_HOUR'].mean())
application_train['AMT_REQ_CREDIT_BUREAU_DAY'] = application_train['AMT_REQ_CREDIT_BUREAU_DAY'].fillna(application_train['AMT_REQ_CREDIT_BUREAU_DAY'].mean())
application_train['AMT_REQ_CREDIT_BUREAU_WEEK'] = application_train['AMT_REQ_CREDIT_BUREAU_WEEK'].fillna(application_train['AMT_REQ_CREDIT_BUREAU_WEEK'].mean())
application_train['AMT_REQ_CREDIT_BUREAU_MON'] = application_train['AMT_REQ_CREDIT_BUREAU_MON'].fillna(application_train['AMT_REQ_CREDIT_BUREAU_MON'].mean())
application_train['AMT_REQ_CREDIT_BUREAU_QRT'] = application_train['AMT_REQ_CREDIT_BUREAU_QRT'].fillna(application_train['AMT_REQ_CREDIT_BUREAU_QRT'].mean())
application_train['AMT_REQ_CREDIT_BUREAU_YEAR'] = application_train['AMT_REQ_CREDIT_BUREAU_YEAR'].fillna(application_train['AMT_REQ_CREDIT_BUREAU_YEAR'].mean())

#Categorical Missing values
application_train['NAME_TYPE_SUITE'].fillna(application_train['NAME_TYPE_SUITE'].mode()[0], inplace=True)
application_train['OCCUPATION_TYPE'].fillna(application_train['OCCUPATION_TYPE'].mode()[0], inplace=True)

In [226]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,application_train_flag_DEF_60_CNT_SOCIAL_CIRCLE,application_train_flag_DAYS_LAST_PHONE_CHANGE,application_train_flag_AMT_REQ_CREDIT_BUREAU_HOUR,application_train_flag_AMT_REQ_CREDIT_BUREAU_DAY,application_train_flag_AMT_REQ_CREDIT_BUREAU_WEEK,application_train_flag_AMT_REQ_CREDIT_BUREAU_MON,application_train_flag_AMT_REQ_CREDIT_BUREAU_QRT,application_train_flag_AMT_REQ_CREDIT_BUREAU_YEAR,application_train_flag_NAME_TYPE_SUITE,application_train_flag_OCCUPATION_TYPE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,1,1,1,1,1,1,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,1,1,1,1,1,1,0,0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,1,1,1,1,1,1,0,1
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,0,0,0,0,0,0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0,0,0,0,0,0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0,0,0,0,0,0

In [227]:
#bureau_balance - Second dataset
bureau_balance = pd.read_csv('bureau_balance.csv')

# Drop irrelevant columns
bureau_balance = bureau_balance.drop(columns=['MONTHS_BALANCE'])

In [228]:
# Data transformation. New variable is made which will be used in analysis
bureau_balance['STATUS_0'] = (bureau_balance['STATUS'] == '0').astype(int)
bureau_balance['STATUS_TOTAL'] = 1
bureau_balance = bureau_balance.drop(columns=['STATUS'])
bureau_balance = bureau_balance.groupby(['SK_ID_BUREAU']).sum()
bureau_balance['STATUS_0'] = bureau_balance['STATUS_0'] / bureau_balance['STATUS_TOTAL']
bureau_balance = bureau_balance.drop(columns=['STATUS_TOTAL'])

In [229]:
# bureau
bureau = pd.read_csv('bureau.csv')

In [230]:
# Drop irrelevant columns
bureau = bureau.drop(columns=['CREDIT_CURRENCY', 'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE',
                                  'DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT', 'DAYS_CREDIT_UPDATE',
                                  'AMT_ANNUITY'])
# Merge bureau_balance to bureau
bureau_1 = pd.merge(bureau, bureau_balance, how='left', on=['SK_ID_BUREAU'])

# Drop columns with more than 90% NaN
bureau_2 = bureau_1.dropna(thresh=int(0.1*len(bureau)), axis=1)

# Drop bureau ID
bureau_2 = bureau_2.drop(columns=['SK_ID_BUREAU'])

# Fill NaN
bureau_3 = bureau_2.copy()
bureau_3['CREDIT_ACTIVE'] = bureau_3['CREDIT_ACTIVE'].fillna('Active')
bureau_3['AMT_CREDIT_MAX_OVERDUE'] = bureau_3['AMT_CREDIT_MAX_OVERDUE'].fillna(0)
bureau_3['CNT_CREDIT_PROLONG'] = bureau_3['CNT_CREDIT_PROLONG'].fillna(0)
bureau_3['AMT_CREDIT_SUM'] = bureau_3['AMT_CREDIT_SUM'].fillna(0)
bureau_3['AMT_CREDIT_SUM_DEBT'] = bureau_3['AMT_CREDIT_SUM_DEBT'].fillna(0)
bureau_3['AMT_CREDIT_SUM_LIMIT'] = bureau_3['AMT_CREDIT_SUM_LIMIT'].fillna(0)
bureau_3['AMT_CREDIT_SUM_OVERDUE'] = bureau_3['AMT_CREDIT_SUM_OVERDUE'].fillna(0)

# Data transformation
bureau_4 = bureau_3.copy()
bureau_4['TOTAL'] = 1
bureau_4['CREDIT_ACTIVE'] = (bureau_4['CREDIT_ACTIVE'] == 'Active').astype(int)
bureau_4['CREDIT_TYPE_CREDIT_CARD'] = (bureau_4['CREDIT_TYPE'] == 'Credit card').astype(int)
bureau_4['CREDIT_TYPE_CONSUMER_CREDIT'] = (bureau_4['CREDIT_TYPE'] == 'Consumer credit').astype(int)
bureau_4 = bureau_4.drop(columns=['CREDIT_TYPE'])

# Sum
bureau_sum = bureau_4[['SK_ID_CURR', 'CREDIT_ACTIVE', 'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT',
                           'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE_CREDIT_CARD',
                           'CREDIT_TYPE_CONSUMER_CREDIT', 'TOTAL']]
bureau_sum = bureau_sum.groupby(['SK_ID_CURR']).sum()
bureau_sum['CREDIT_ACTIVE'] = bureau_sum['CREDIT_ACTIVE'] / bureau_sum['TOTAL']
bureau_sum['CREDIT_TYPE_CREDIT_CARD'] = bureau_sum['CREDIT_TYPE_CREDIT_CARD'] / bureau_sum['TOTAL']
bureau_sum['CREDIT_TYPE_CONSUMER_CREDIT'] = bureau_sum['CREDIT_TYPE_CONSUMER_CREDIT'] / bureau_sum['TOTAL']
bureau_sum = bureau_sum.drop(columns=['TOTAL'])
# Mean
bureau_mean = bureau_4[['SK_ID_CURR', 'AMT_CREDIT_MAX_OVERDUE']]
bureau_mean = bureau_mean.groupby(['SK_ID_CURR']).mean()

# Max
bureau_max = bureau_4[['SK_ID_CURR', 'CNT_CREDIT_PROLONG']]
bureau_max = bureau_max.groupby(['SK_ID_CURR']).max()

# NaN mean
# Fill NaN
bureau_nanmean = bureau_4[['SK_ID_CURR', 'STATUS_0']]
bureau_nanmean = bureau_nanmean.groupby(['SK_ID_CURR']).agg({'STATUS_0': lambda x: x.mean(skipna=True)})

In [231]:
# Merge to application_train (Our main dataset)
application_train = pd.merge(application_train, bureau_sum, how='left', on='SK_ID_CURR')
application_train = pd.merge(application_train, bureau_mean, how='left', on='SK_ID_CURR')
application_train = pd.merge(application_train, bureau_max, how='left', on='SK_ID_CURR')
application_train = pd.merge(application_train, bureau_nanmean, how='left', on='SK_ID_CURR')

In [232]:
# Making a new dummy column for all the features with missing data
application_train['application_train_CREDIT_ACTIVE'] = np.where(application_train['CREDIT_ACTIVE'].isnull(), 1, 0)
application_train['application_train_AMT_CREDIT_SUM'] = np.where(application_train['AMT_CREDIT_SUM'].isnull(), 1, 0)
application_train['application_train_AMT_CREDIT_SUM_DEBT'] = np.where(application_train['AMT_CREDIT_SUM_DEBT'].isnull(), 1, 0)
application_train['application_train_AMT_CREDIT_SUM_LIMIT'] = np.where(application_train['AMT_CREDIT_SUM_LIMIT'].isnull(), 1, 0)
application_train['application_train_AMT_CREDIT_SUM_OVERDUE'] = np.where(application_train['AMT_CREDIT_SUM_OVERDUE'].isnull(), 1, 0)
application_train['application_train_AMT_CREDIT_TYPE_CREDIT_CARD'] = np.where(application_train['CREDIT_TYPE_CREDIT_CARD'].isnull(), 1, 0)
application_train['application_train_CREDIT_TYPE_CONSUMER_CREDIT'] = np.where(application_train['AMT_CREDIT_SUM_OVERDUE'].isnull(), 1, 0)
application_train['application_train_AMT_CREDIT_MAX_OVERDUE'] = np.where(application_train['AMT_CREDIT_MAX_OVERDUE'].isnull(), 1, 0)
application_train['application_train_CNT_CREDIT_PROLONG'] = np.where(application_train['CNT_CREDIT_PROLONG'].isnull(), 1, 0)

In [233]:
# Dealing with missing values
application_train['CREDIT_ACTIVE'] = application_train['CREDIT_ACTIVE'].fillna(application_train['CREDIT_ACTIVE'].mean())
application_train['AMT_CREDIT_SUM'] = application_train['AMT_CREDIT_SUM'].fillna(application_train['AMT_CREDIT_SUM'].mean())
application_train['AMT_CREDIT_SUM_DEBT'] = application_train['AMT_CREDIT_SUM_DEBT'].fillna(application_train['AMT_CREDIT_SUM_DEBT'].mean())
application_train['AMT_CREDIT_SUM_LIMIT'] = application_train['AMT_CREDIT_SUM_LIMIT'].fillna(application_train['AMT_CREDIT_SUM_LIMIT'].mean())
application_train['AMT_CREDIT_SUM_OVERDUE'] = application_train['AMT_CREDIT_SUM_OVERDUE'].fillna(application_train['AMT_CREDIT_SUM_OVERDUE'].mean())
application_train['CREDIT_TYPE_CREDIT_CARD'] = application_train['CREDIT_TYPE_CREDIT_CARD'].fillna(application_train['CREDIT_TYPE_CREDIT_CARD'].mean())
application_train['CREDIT_TYPE_CONSUMER_CREDIT'] = application_train['CREDIT_TYPE_CONSUMER_CREDIT'].fillna(application_train['CREDIT_TYPE_CONSUMER_CREDIT'].mean())
application_train['AMT_CREDIT_MAX_OVERDUE'] = application_train['AMT_CREDIT_MAX_OVERDUE'].fillna(application_train['AMT_CREDIT_MAX_OVERDUE'].mean())
application_train['CNT_CREDIT_PROLONG'] = application_train['CNT_CREDIT_PROLONG'].fillna(application_train['CNT_CREDIT_PROLONG'].mean())

In [234]:
application_train = application_train.drop(columns=['STATUS_0'])

In [235]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CNT_CREDIT_PROLONG,application_train_CREDIT_ACTIVE,application_train_AMT_CREDIT_SUM,application_train_AMT_CREDIT_SUM_DEBT,application_train_AMT_CREDIT_SUM_LIMIT,application_train_AMT_CREDIT_SUM_OVERDUE,application_train_AMT_CREDIT_TYPE_CREDIT_CARD,application_train_CREDIT_TYPE_CONSUMER_CREDIT,application_train_AMT_CREDIT_MAX_OVERDUE,application_train_CNT_CREDIT_PROLONG
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.000000,0,0,0,0,0,0,0,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.000000,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.000000,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.039239,1,1,1,1,1,1,1,1,1
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.000000,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0.039239,1,1,1,1,1,1,1,1,1
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0.039239,1,1,1,1,1,1,1,1,1
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0.000000,0,0,0,0,0,0,0,0,0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0.000000,0,0,0,0,0,0,0,0,0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,1.000000,0,0,0,0,0,0,0,0,0

In [236]:
# installments_payments - Third Dataset
installments_payments = pd.read_csv('installments_payments.csv')

In [237]:
# Data Transformation
installments_payments['AMT_PAYMENT_GREATER_EQUAL_INSTALMENT'] = (installments_payments['AMT_PAYMENT'] >=
                                                                     installments_payments['AMT_INSTALMENT']).astype(int)
installments_payments_max = installments_payments[['SK_ID_CURR', 'AMT_PAYMENT_GREATER_EQUAL_INSTALMENT']]
installments_payments_max = installments_payments_max.groupby(['SK_ID_CURR']).max()

In [238]:
# Merge to application_train (Our main dataset)
application_train = pd.merge(application_train, installments_payments_max, how='left', on='SK_ID_CURR')

In [239]:
application_train['application_train_flag_AMT_PAYMENT_GREATER_EQUAL_INSTALMENT'] = np.where(application_train['AMT_PAYMENT_GREATER_EQUAL_INSTALMENT'].isnull(), 1, 0)
application_train['AMT_PAYMENT_GREATER_EQUAL_INSTALMENT'].fillna(application_train['AMT_PAYMENT_GREATER_EQUAL_INSTALMENT'].mode()[0], inplace=True)

In [240]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,application_train_AMT_CREDIT_SUM,application_train_AMT_CREDIT_SUM_DEBT,application_train_AMT_CREDIT_SUM_LIMIT,application_train_AMT_CREDIT_SUM_OVERDUE,application_train_AMT_CREDIT_TYPE_CREDIT_CARD,application_train_CREDIT_TYPE_CONSUMER_CREDIT,application_train_AMT_CREDIT_MAX_OVERDUE,application_train_CNT_CREDIT_PROLONG,AMT_PAYMENT_GREATER_EQUAL_INSTALMENT,application_train_flag_AMT_PAYMENT_GREATER_EQUAL_INSTALMENT
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0,0,0,0,1.0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0,0,0,0,1.0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0,0,0,0,1.0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,1,1,1,1,1,1,1,1,1.0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0,0,0,0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,1,1,1,1,1,1,1,1,1.0,0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,1,1,1,1,1,1,1,1,1.0,0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,0,0,0,0,1.0,0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0,0,0,0,1.0,0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0,0,0,0,1.0,0

In [241]:
# credit_card_balance - Fourth Dataset
credit_card_balance = pd.read_csv('credit_card_balance.csv')
credit_card_balance

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,-9,0.000,45000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840308,1714892,347207,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,23.0,Active,0,0
3840309,1302323,215757,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,...,273093.975,273093.975,2.0,2,0.0,0.0,18.0,Active,0,0
3840310,1624872,430337,-10,0.000,450000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840311,2411345,236760,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,21.0,Completed,0,0

In [242]:
# Data Transformation
credit_card_balance_mean = credit_card_balance[['SK_ID_CURR', 'AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_CURRENT',
                                                    'AMT_DRAWINGS_OTHER_CURRENT', 'AMT_DRAWINGS_POS_CURRENT',
                                                    'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE']]

credit_card_balance_mean

,SK_ID_CURR,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE
0,378907,0.0,877.5,0.0,877.5,0.000,0.000
1,363914,2250.0,2250.0,0.0,0.0,64875.555,64875.555
2,371185,0.0,0.0,0.0,0.0,31460.085,31460.085
3,337855,2250.0,2250.0,0.0,0.0,233048.970,233048.970
4,126868,0.0,11547.0,0.0,11547.0,453919.455,453919.455
...,...,...,...,...,...,...,...
3840307,328243,NaN,0.0,NaN,NaN,0.000,0.000
3840308,347207,0.0,0.0,0.0,0.0,0.000,0.000
3840309,215757,270000.0,270000.0,0.0,0.0,273093.975,273093.975
3840310,430337,NaN,0.0,NaN,NaN,0.000,0.000
3840311,236760,0.0,0.0,0.0,0.0,0.000,0.000

In [243]:
#Missing Values
credit_card_balance_mean = credit_card_balance_mean.fillna(0)
credit_card_balance_mean = credit_card_balance_mean.groupby(['SK_ID_CURR']).mean()

# Merge to application_train (Our main dataset)
application_train = pd.merge(application_train, credit_card_balance_mean, how='left', on='SK_ID_CURR')

In [244]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,application_train_AMT_CREDIT_MAX_OVERDUE,application_train_CNT_CREDIT_PROLONG,AMT_PAYMENT_GREATER_EQUAL_INSTALMENT,application_train_flag_AMT_PAYMENT_GREATER_EQUAL_INSTALMENT,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,1,1,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,1,1,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,1,1,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [245]:

application_train['application_train_flag_AMT_DRAWINGS_ATM_CURRENT'] = np.where(application_train['AMT_DRAWINGS_ATM_CURRENT'].isnull(), 1, 0)
application_train['application_train_flag_AMT_DRAWINGS_CURRENT'] = np.where(application_train['AMT_DRAWINGS_CURRENT'].isnull(), 1, 0)
application_train['application_train_flag_AMT_DRAWINGS_OTHER_CURRENT'] = np.where(application_train['AMT_DRAWINGS_OTHER_CURRENT'].isnull(), 1, 0)
application_train['application_train_flag_AMT_DRAWINGS_POS_CURRENT'] = np.where(application_train['AMT_DRAWINGS_POS_CURRENT'].isnull(), 1, 0)
application_train['application_train_flag_AMT_RECIVABLE'] = np.where(application_train['AMT_RECIVABLE'].isnull(), 1, 0)
application_train['application_train_flag_AMT_TOTAL_RECEIVABLE'] = np.where(application_train['AMT_TOTAL_RECEIVABLE'].isnull(), 1, 0)


# Dealing with missing values
application_train['AMT_DRAWINGS_ATM_CURRENT'] = application_train['AMT_DRAWINGS_ATM_CURRENT'].fillna(0)
application_train['AMT_DRAWINGS_CURRENT'] = application_train['AMT_DRAWINGS_CURRENT'].fillna(0)
application_train['AMT_DRAWINGS_OTHER_CURRENT'] = application_train['AMT_DRAWINGS_OTHER_CURRENT'].fillna(0)
application_train['AMT_DRAWINGS_POS_CURRENT'] = application_train['AMT_DRAWINGS_POS_CURRENT'].fillna(0)
application_train['AMT_RECIVABLE'] = application_train['AMT_RECIVABLE'].fillna(0)
application_train['AMT_TOTAL_RECEIVABLE'] = application_train['AMT_TOTAL_RECEIVABLE'].fillna(0)

In [247]:
missing_columns = application_train.columns[application_train.isnull().any()]
missing_columns

Index([], dtype='object')

In [248]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,application_train_flag_AMT_DRAWINGS_ATM_CURRENT,application_train_flag_AMT_DRAWINGS_CURRENT,application_train_flag_AMT_DRAWINGS_OTHER_CURRENT,application_train_flag_AMT_DRAWINGS_POS_CURRENT,application_train_flag_AMT_RECIVABLE,application_train_flag_AMT_TOTAL_RECEIVABLE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,1,1,1,1,1,1
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,0.0,1,1,1,1,1,1
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,0.0,1,1,1,1,1,1
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,0.0,0,0,0,0,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,0.0,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0.0,0.0,0.0,0.0,1,1,1,1,1,1
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0.0,0.0,0.0,0.0,1,1,1,1,1,1
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0.0,0.0,0.0,0.0,1,1,1,1,1,1
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0.0,0.0,0.0,0.0,1,1,1,1,1,1
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0.0,0.0,0.0,0.0,1,1,1,1,1,1

In [249]:
# POS_CASH_balance - Fifth Dataset
POS_CASH_balance = pd.read_csv('POS_CASH_balance.csv')
POS_CASH_balance = POS_CASH_balance[['SK_ID_CURR', 'CNT_INSTALMENT_FUTURE', 'SK_DPD']]

#Missing Values
POS_CASH_balance = POS_CASH_balance.fillna(0)
POS_CASH_balance['SK_DPD'] = (POS_CASH_balance['SK_DPD'] != 0).astype(int)
POS_CASH_balance_max = POS_CASH_balance[['SK_ID_CURR', 'SK_DPD']]
POS_CASH_balance_max = POS_CASH_balance_max.groupby(['SK_ID_CURR']).max()

# Merge to application_train (Our main dataset)
application_train = pd.merge(application_train, POS_CASH_balance_max, how='left', on='SK_ID_CURR')

POS_CASH_balance_mean = POS_CASH_balance[['SK_ID_CURR', 'CNT_INSTALMENT_FUTURE']]
POS_CASH_balance_mean = POS_CASH_balance_mean.groupby(['SK_ID_CURR']).mean()

# Merge to application_train (Our main dataset)
application_train = pd.merge(application_train, POS_CASH_balance_mean, how='left', on='SK_ID_CURR')

In [250]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,application_train_flag_AMT_DRAWINGS_ATM_CURRENT,application_train_flag_AMT_DRAWINGS_CURRENT,application_train_flag_AMT_DRAWINGS_OTHER_CURRENT,application_train_flag_AMT_DRAWINGS_POS_CURRENT,application_train_flag_AMT_RECIVABLE,application_train_flag_AMT_TOTAL_RECEIVABLE,SK_DPD,CNT_INSTALMENT_FUTURE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.0,0.0,1,1,1,1,1,1,0.0,15.000000
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,0.0,1,1,1,1,1,1,0.0,5.785714
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,1,1,1,1,1,1,0.0,2.250000
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,0.0,0,0,0,0,0,0,0.0,8.238095
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,1,1,1,1,1,1,0.0,8.969697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0.0,0.0,1,1,1,1,1,1,0.0,3.888889
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0.0,0.0,1,1,1,1,1,1,0.0,3.000000
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0.0,0.0,1,1,1,1,1,1,1.0,2.000000
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0.0,0.0,1,1,1,1,1,1,0.0,10.350000
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0.0,0.0,1,1,1,1,1,1,1.0,15.140845

In [251]:
application_train['application_train_flag_SK_DPD'] = np.where(application_train['SK_DPD'].isnull(), 1, 0)
application_train['application_train_flag_CNT_INSTALMENT_FUTURE'] = np.where(application_train['CNT_INSTALMENT_FUTURE'].isnull(), 1, 0)


application_train['SK_DPD'].fillna(application_train['SK_DPD'].mode()[0], inplace=True)
application_train['CNT_INSTALMENT_FUTURE'] = application_train['CNT_INSTALMENT_FUTURE'].fillna(application_train['CNT_INSTALMENT_FUTURE'].mean())

In [252]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,application_train_flag_AMT_DRAWINGS_ATM_CURRENT,application_train_flag_AMT_DRAWINGS_CURRENT,application_train_flag_AMT_DRAWINGS_OTHER_CURRENT,application_train_flag_AMT_DRAWINGS_POS_CURRENT,application_train_flag_AMT_RECIVABLE,application_train_flag_AMT_TOTAL_RECEIVABLE,SK_DPD,CNT_INSTALMENT_FUTURE,application_train_flag_SK_DPD,application_train_flag_CNT_INSTALMENT_FUTURE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,1,1,1,1,1,1,0.0,15.000000,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,1,1,1,1,1,1,0.0,5.785714,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,1,1,1,1,1,1,0.0,2.250000,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,0,0,0.0,8.238095,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,1,1,1,1,1,1,0.0,8.969697,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,1,1,1,1,1,1,0.0,3.888889,0,0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,1,1,1,1,1,1,0.0,3.000000,0,0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,1,1,1,1,1,1,1.0,2.000000,0,0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,1,1,1,1,1,1,0.0,10.350000,0,0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,1,1,1,1,1,1,1.0,15.140845,0,0

In [253]:
data = application_train.dropna(thresh=int(0.1 * len(application_train)), axis=1)
data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,application_train_flag_AMT_DRAWINGS_ATM_CURRENT,application_train_flag_AMT_DRAWINGS_CURRENT,application_train_flag_AMT_DRAWINGS_OTHER_CURRENT,application_train_flag_AMT_DRAWINGS_POS_CURRENT,application_train_flag_AMT_RECIVABLE,application_train_flag_AMT_TOTAL_RECEIVABLE,SK_DPD,CNT_INSTALMENT_FUTURE,application_train_flag_SK_DPD,application_train_flag_CNT_INSTALMENT_FUTURE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,1,1,1,1,1,1,0.0,15.000000,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,1,1,1,1,1,1,0.0,5.785714,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,1,1,1,1,1,1,0.0,2.250000,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,0,0,0.0,8.238095,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,1,1,1,1,1,1,0.0,8.969697,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,1,1,1,1,1,1,0.0,3.888889,0,0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,1,1,1,1,1,1,0.0,3.000000,0,0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,1,1,1,1,1,1,1.0,2.000000,0,0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,1,1,1,1,1,1,0.0,10.350000,0,0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,1,1,1,1,1,1,1.0,15.140845,0,0

In [254]:
# Sampling
training = 0.7
training_df = data.sample(n=int(training*len(data)), replace=False, random_state=1)
testing_df = data[~data['SK_ID_CURR'].isin(training_df['SK_ID_CURR'])]

In [257]:
training_df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,application_train_flag_AMT_DRAWINGS_ATM_CURRENT,application_train_flag_AMT_DRAWINGS_CURRENT,application_train_flag_AMT_DRAWINGS_OTHER_CURRENT,application_train_flag_AMT_DRAWINGS_POS_CURRENT,application_train_flag_AMT_RECIVABLE,application_train_flag_AMT_TOTAL_RECEIVABLE,SK_DPD,CNT_INSTALMENT_FUTURE,application_train_flag_SK_DPD,application_train_flag_CNT_INSTALMENT_FUTURE
64282,174545,1,Cash loans,F,N,Y,0,135000.0,654498.0,31617.0,...,1,1,1,1,1,1,1.0,13.622222,0,0
94645,209898,0,Cash loans,M,Y,Y,0,135000.0,234576.0,25393.5,...,1,1,1,1,1,1,0.0,6.500000,0,0
306349,454938,0,Cash loans,M,Y,Y,0,112500.0,157914.0,16753.5,...,1,1,1,1,1,1,0.0,3.000000,0,0
258314,398930,0,Cash loans,M,Y,N,0,247500.0,1125000.0,36292.5,...,1,1,1,1,1,1,0.0,5.261905,0,0
87597,201672,0,Cash loans,M,N,Y,0,202500.0,900000.0,35158.5,...,0,0,0,0,0,0,0.0,4.818182,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181695,310597,0,Cash loans,F,Y,Y,0,216000.0,888840.0,32053.5,...,1,1,1,1,1,1,1.0,9.000000,0,0
79679,192363,0,Cash loans,M,Y,Y,1,135000.0,314100.0,21375.0,...,1,1,1,1,1,1,0.0,6.500000,0,0
180433,309109,0,Cash loans,M,Y,Y,0,382500.0,781920.0,37615.5,...,1,1,1,1,1,1,0.0,4.833333,0,0
64568,174877,0,Cash loans,M,Y,Y,0,216000.0,1467612.0,54517.5,...,1,1,1,1,1,1,0.0,12.458333,0,0
114782,233096,0,Cash loans,M,N,N,0,180000.0,90000.0,7110.0,...,1,1,1,1,1,1,0.0,16.727273,0,0

In [258]:
testing_df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,application_train_flag_AMT_DRAWINGS_ATM_CURRENT,application_train_flag_AMT_DRAWINGS_CURRENT,application_train_flag_AMT_DRAWINGS_OTHER_CURRENT,application_train_flag_AMT_DRAWINGS_POS_CURRENT,application_train_flag_AMT_RECIVABLE,application_train_flag_AMT_TOTAL_RECEIVABLE,SK_DPD,CNT_INSTALMENT_FUTURE,application_train_flag_SK_DPD,application_train_flag_CNT_INSTALMENT_FUTURE
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,1,1,1,1,1,1,0.0,15.000000,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,1,1,1,1,1,1,0.0,2.250000,0,0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,1,1,1,1,1,1,1.0,4.108434,0,0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,1,1,1,1,1,1,0.0,5.000000,0,0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,1,1,1,1,1,1,1.0,5.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307505,456249,0,Cash loans,F,N,Y,0,112500.000,225000.0,22050.0,...,1,1,1,1,1,1,0.0,5.461538,0,0
307506,456251,0,Cash loans,M,N,N,0,157500.000,254700.0,27558.0,...,1,1,1,1,1,1,0.0,3.888889,0,0
307507,456252,0,Cash loans,F,N,Y,0,72000.000,269550.0,12001.5,...,1,1,1,1,1,1,0.0,3.000000,0,0
307508,456253,0,Cash loans,F,N,Y,0,153000.000,677664.0,29979.0,...,1,1,1,1,1,1,1.0,2.000000,0,0
307509,456254,1,Cash loans,F,N,Y,0,171000.000,370107.0,20205.0,...,1,1,1,1,1,1,0.0,10.350000,0,0

In [259]:
output_path = 'Training_data.xlsx'
training_df.to_excel(output_path, index=False)

In [260]:
output_path = 'Test_data.xlsx'
testing_df.to_excel(output_path, index=False)